.navbar {
    background-color: #333232;
    /* padding: 10px; */
    
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .nav-item {
    /* margin-right: 10px; */
    color: #fff;
    cursor: pointer;
  }
  img{
    /* margin-top: 10px; */
    height: 30px;
    width: 30px;
  }
  .NavMain{
    text-decoration: none;
  }
  ul{
    text-decoration: none;
    padding: 5px;
  }
  /* .nav-item:hover {
    text-decoration: underline;
  } */
  